                                   Scalar   Objects
int – represent integers, ex. 5
float – represent real numbers, ex. 3.27
bool – represent Boolean values True and False
None Type – special and has one value, None
can use type() to see the type of an object

Type Conversion--> We Can Convert Data type from one to another.

In [9]:
x=float(35)
y=str(5)
print("x=",x)
print(y+" Hello") # is valid here as we can concatenate 2 strings to each other, but we can't add an integer number to the string.

x= 35.0
5 Hello

printing To console : Using Built in function --> print()

In [12]:
print("Hello World")
print("2+3=",2+3)

Hello World
2+3= 5

Some of the Operations that can be done on integer and float numbers are:
Sum --> i+j
Difference --> i+j
Multiplication --> i*j
Division --> i/j
Reminder --> i%j
Power i**j

In [17]:
print(5+3)
print(5-3)
print(5*3)
print(5/3)
print(5%3)
print(5**3)

8
2
15
1.6666666666666667
2
125

                 Non-Scaler Objects

1-List: A List is collection of items that are ordered and changeable, may be of the same or different types,
separated by a comma and enclosed in square brackets.

In [21]:
l1=[2,5.5,2+3j,"Hello"]
print(l1)

[2, 5.5, (2+3j), 'Hello']

Some Of Methods that can be applied on lists are:
append(),clear(),copy(),count(),extend(), index(), insert(),sort(),pop(),remove(),reverse().

In [24]:
list=["Hello",25,4.05,2002,True,"Eman"]
list

['Hello', 25, 4.05, 2002, True, 'Eman']

In [26]:
list.append("Orabi")   # Add the element after the last index in the list
list

['Hello', 25, 4.05, 2002, True, 'Eman', 'Orabi']

In [28]:
list2=list.copy()  # Take a copy of the list and assigned it to a new list
list2

['Hello', 25, 4.05, 2002, True, 'Eman', 'Orabi']

In [30]:
counts=list.count("Orabi") # Counts number of repetitions of the element
counts

1

In [32]:
list.extend("Eman") # Extened the elements into its charters
list

['Hello', 25, 4.05, 2002, True, 'Eman', 'Orabi', 'E', 'm', 'a', 'n']

In [34]:
index_Val=list.index("Eman") # Know the index Of The Element
index_Val

5

In [36]:
list.insert(6, "Taha")  # Insert or Add a new Element like appened, but the difference is that you can put it any index you wanna 
list

['Hello', 25, 4.05, 2002, True, 'Eman', 'Taha', 'Orabi', 'E', 'm', 'a', 'n']

Sort here is applied on the same data type and it is by default the reverse is false which means order from smaller to older
when reverse is true --> This means order from older to smaller

In [39]:
list3=[5,4,4,95,2054,48545,0.5]
list3.sort(reverse=True) 
list3

[48545, 2054, 95, 5, 4, 4, 0.5]

In [41]:
list.pop() # remove the last element in the list
list

['Hello', 25, 4.05, 2002, True, 'Eman', 'Taha', 'Orabi', 'E', 'm', 'a']

In [43]:
list.remove("Taha")  # Remove the element that you mention
list

['Hello', 25, 4.05, 2002, True, 'Eman', 'Orabi', 'E', 'm', 'a']

In [45]:
list2.reverse()  # Revesre the elements so that the last elements be the first and so on...
list2

['Orabi', 'Eman', True, 2002, 4.05, 25, 'Hello']

In [47]:
list2.clear()  # Clear the list by all its elements.
list2

[]

2-Tuple: Tuple looks like list. The only difference is that comma-separated items of the same or 
different type are enclosed in parentheses. Individual items follow a zero-based index, as in a list or string

In [50]:
tuple=(5,4,2.054,4654,"Hello","Eman Orabi",True)
tuple

(5, 4, 2.054, 4654, 'Hello', 'Eman Orabi', True)

However, the important difference is that List is a mutable object and Tuple is an 
immutable object. which means that in a list you can change the value of any index, but you can't do this with Tuple.

In [53]:
list

['Hello', 25, 4.05, 2002, True, 'Eman', 'Orabi', 'E', 'm', 'a']

In [55]:
list[3]="Hello"
list

['Hello', 25, 4.05, 'Hello', True, 'Eman', 'Orabi', 'E', 'm', 'a']

In [57]:
# tuple[2]="hi"   ---> Here It will give Error as we can't modify in the tuple

Python supports the usual logical conditions from mathematics:•Equals: a == b
•Not Equals: a != 
•Less than: a <b
•Less than or equal to a < b
•Greater than: a> b
•Greater than or equal to a >= b

                 If Statement

In [61]:
a=200
b=30
if b>a:
    print("B is Greater than A")
elif b==a:
    print("A is Equal To B")
else:
    print("B is Smaller Than A")

B is Smaller Than A

                     While loop and for loop

While loop:
With the break statement we can stop the loop even if the while condition is true:

In [65]:
i=1
while i< 6:
    print(i)
    if i==3:
        break
    i+=1

1
2
3

In [67]:
fruits=["Apple","Banana","Cherry"]
for i in fruits:
    print(i)

Apple
Banana
Cherry

In [69]:
for i in fruits:
    print(i)
    if i=="Banana":
        break

Apple
Banana

In [71]:
for x in range(6): # 0 included, but 6 is Excluded
    print(x)

0
1
2
3
4
5

In [73]:
for u in range(2,6):   # Here 2 included, but 6 Excluded
    print(u)

2
3
4
5

In [75]:
for t in range(2,30,3):  # Here 2 included, 30 is Excluded and 3 is the steps of range
    print(t)

2
5
8
11
14
17
20
23
26
29

In [77]:
for x in range(6):
    print(x)
else:
    print("Finally Finished")

0
1
2
3
4
5
Finally Finished

            Functions

In [80]:
def myname(fname,lname):
    print(fname+" "+lname)
myname("Eman","Orabi")

Eman Orabi

             Arbitrary Arguments, *args
                                              
If you do not know how many arguments that will be passed into your function, add 
a * before the parameter name in the function definition.
This way the function will receive a tuple of arguments, and can access the items 
accordingly:

In [83]:
def myfunc(*kids):
    print("The Youngest Child is "+kids[-1])
myfunc("Eman","Ahmed","Esraa")    # here it takes the last input as i say index -1

The Youngest Child is Esraa

                 Thank you :)